<br>
<h1>Dashboard</h1>
<br>

<h4>Store Information:</h4>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <a href="admin/products" style="text-decoration: none" class="link-dark">Products</a>
  <span class="badge bg-success rounded-pill"><%= @product %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="admin/categories" style="text-decoration: none" class="link-dark">Categories</a>
    <span class="badge bg-success rounded-pill"><%= @category %></span>
  </li>
</ul>


<br>
<p class="text-muted">Click on a category to view details.</p>