<br>
<h1>About Us</h1>
<br>

<p>
We are members of an Amazonian tribe, sharing a piece of our home with you.
</p>
<p> 
Our exotic plants are gathered by the eldest, and most wise, tribe members. <br>
The plants undergo various rituals before they are placed in your care.
<p>
<p>
With proper care, our plants will bring you a lifetime of blessings.
</p>
<br> 
<p class="fw-bolder text-success">
Welcome to our jungle.
</p>

